<div class="banner">
  <div class="container">
    <h2><%= t ".content_page" %></h2>
    <p><%= t ".text_ct" %></p>
  </div>
</div>
<div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="tech-no">
        <%= render "shared/feed", feed_items: @feed_items %>
      </div>
    </div>
    <div class="col-md-3 technology-right">
      <div class="blo-top1">
        <div class="tech-btm">
          <form action="posts" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 my-lg-2" type="text"
              placeholder="Search..." name="q">
            <button class="btn btn-success my-2 my-sm-0" type="submit">
            <%= t ".search" %></button>
          </form>
          <div class="top-post-home">
            <h4><%= t ".popular_post" %></h4>
          </div>
          <%= render "posts/top_post" %>

          <div class="blog-grids wow fadeInDown top-post-tag">
            <h4>All tags</h4>
            <ul class="tag-all-show">
              <% @tag_all.each do |tag| %>
                <% if tag.posts.any? %>
                  <%= link_to tag.name, tag, class: "btn-sm btn-info tag-all-show" %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
