<div class="time-comment">
  <div class="avatar-comment">
    <%= image_tag comment.user.avatar %>
  </div>
  <div class="cmt-content">
    <%= link_to comment.user.name, @post.user %>:
    <%= comment.content %>
    <div class="time">
      (<time class="timeago" datetime="<%= comment.created_at.getutc.iso8601 %>"></time>)
      <% if (current_user == comment.user) ||
        (current_user == @post.user) %>
        <%= link_to t(".edit"), "#", id: "show-edit-comment" %>
        <%= link_to t(".delete"), [comment.post, comment],
          method: :delete, data: {confirm: t(".you_sure")}, class: "delete" %>
      <% end %>
    </div>
  </div>
</div>
