<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xs-offset-0 col-sm-offset-0 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t ".user_profile" %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="avatar">
                <%= image_tag @user.avatar %>
              </div>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td><%= @user.name %></td>
                  </tr>
                  <tr>
                    <td><%= link_to @user.email, "mailto:dkcbvn1995@gmail.com" %></td>
                  </tr>
                  <tr>
                    <td><%= @user.address %></td>
                  </tr>
                  <tr>
                    <td><%= @user.phone %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row stats">
              <div class="col-md-4">
                <%= @user.posts.size %> <%= t ".posts" %>
              </div>
              <div class="col-md-4">
                <%= @user.following.size %> <%= t ".following" %>
              </div>
              <div class="col-md-4">
                <%= @user.followers.size %> <%= t ".followers" %>
              </div>
            </div>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="panel-footer">
            <% if can? :update, @user %>
              <%= link_to t(".edit_profile"), edit_user_registration_path,
                class: "btn btn-warning glyphicon glyphicon-edit edit-profile" %>
            <% else %>
              <%= render "follow_form", follow_user: @follow_user, user: @user %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t ".timeline" %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <%= render "shared/feed", feed_items: @feed_items %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
