<div class="wthree">
  <div class="col-md-6 wthree-left wow fadeInDown">
    <div class="tch-img">
      <div class="img-post">
        <%= link_to image_tag(post.picture.url), post %>
      </div>
    </div>
  </div>
  <div class="col-md-6 wthree-right wow fadeInDown">
    <div class="post-show-home">
      <div class="title-post">
        <h4><%= link_to post.title, post %></h4>
        <small>
          <%= t ".by" %> <%= link_to post.user.name, post.user %>
          (<time class="timeago" datetime="<%= post.created_at.getutc.iso8601 %>"></time>)
        </small>
      </div>
      <p><%= post.description.truncate_words Settings.post.length_des %><p>
      <%= post.comments.size %> <%= t ".comments" %>
    </div>
    <div class="bht1">
      <%= link_to t(".read"), post %>
    </div>
    <div class="soci">
      <ul>
        <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
        <li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
        <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
