<div class="technology">
  <div class="container">
    <div class="col-md-9 technology-left">
      <div class="tech-no">
        <div class="tc-ch wow fadeInDown">
          <div class="tch-img">
            <div class="img-show">
              <%= image_tag @post.picture.url %>
            </div>
          </div>
          <h3><%= @post.title %></h3>
          <small>
            <%= t ".by" %> <%= link_to @post.user.name, @post.user %>
            <%= t ".post" %> <time class="timeago" datetime="<%= @post.created_at.getutc.iso8601 %>"></time>
          </small>
          <% if user_signed_in? %>
            <% if can? :update, @post.user %>
              <%= link_to t(".edit"), edit_post_path(@post), class: "btn-sm btn-warning"%>
              <%= link_to t(".delete"), @post, method: :delete,
                data: {confirm: t(".you_sure")}, class: "btn-sm btn-danger" %>
            <% end %>
          <% end %>
          <p><%= @post.content.html_safe %><p>
          <div class="soci">
            <ul>
              <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
              <li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
              <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
            </ul>
          </div>
          <%= link_to t(".comment"), "#", id: "show-cmt", class: "nav-link" %>
          <div class="hide-comment comment">
            <hr>
            <h2><%= t ".comment" %>: </h2>
            <%= render partial: "comments/comment", collection: @post.comments, as: "comment" %>
          </div>
          <% if user_signed_in? %>
            <div class="comment-form">
              <%= form_for([@post, @post.comments.build]) do |f| %>
                <div class="box-comment">
                  <%= f.text_field :content, placeholder: t(".write_here"), class: "form-control f-comment" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 technology-right">
      <div class="blo-top1">
        <div class="tech-btm">
          <div class="search-1 wow fadeInDown">
            <form action="#" method="post">
              <input type="search" name="Search" value="Search">
              <input type="submit" value=" ">
            </form>
          </div>
          <h4><%= t ".popular_post" %></h4>
          <div class="blog-grids wow fadeInDown">
            <div class="blog-grid-left">
              <a href="#"><%= image_tag "t2.jpg", class: "img-responsive" %></a>
            </div>
            <div class="blog-grid-right">
              <h5><a href="#"><%= t ".txt_post" %></a> </h5>
            </div>
            <div class="clearfix"> </div>
          </div>
        <div class="blog-grids wow fadeInDown">
          <div class="blog-grid-left">
            <a href="#"><%= image_tag "m3.jpg", class: "img-responsive" %></a>
          </div>
          <div class="blog-grid-right">
            <h5><a href="#"><%= t ".txt_post" %></a> </h5>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="insta wow fadeInDown">
          <h4><%= t ".users" %></h4>
          <ul>
            <li><a href="#"><%= image_tag "t1.jpg", class: "img-responsive" %></a></li>
            <li><a href="#"><%= image_tag "m1.jpg", class: "img-responsive" %></a></li>
            <li><a href="#"><%= image_tag "f1.jpg", class: "img-responsive" %></a></li>
            <li><a href="#"><%= image_tag "m2.jpg", class: "img-responsive" %></a></li>
          </ul>
        </div>
        <p><%= t ".txt" %></p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
