<div class="container">
  <div class="row">
    <%= link_to t(".managerpost"), admin_posts_path, class: "btn btn-primary" %>
    (<%= @users.size %>) users
    <p>
      Download:
      <%= link_to "CSV", admin_users_path(format: "csv") %> |
      <%= link_to "Excel", admin_users_path(format: "xls") %>
    </p>
    <div class="col-lg-10 col-md-offset-1">
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list" id="my-users">
            <thead>
              <tr id="my-users">
                <th class="col-md-4"><%= t ".user"%></th>
                <th class="col-md-4"><%= t ".email" %></th>
                <th class="col-md-4"><%= t ".posts" %></th>
                <th class="col-md-4"><%= t ".action" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render @users %>
              <div id="infinite-scrolling"></div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
